# flask related
flask
flask-wtf
flask-gzip
flask-admin
flask-mongoengine

# interactive python
ipython

# datastore related
cql
pycassa
pymongo
mongoengine
# redis-py master branch, for scan related support
-e git://github.com/andymccurdy/redis-py.git#egg=redis
#txredisapi>=0.1.1

# framework used
twisted
gevent

# others
nose
requests
psutil
msgpack-python
autobahn==0.6.3
txmongo
txredisapi
pyquery
hash_ring
pyes
