# flask related
flask
flask-wtf
flask-admin
flask-mongoengine

# interactive python
ipython

# datastore related
cql
pycassa
pymongo
mongoengine
redis
#txredisapi>=0.1.1

# framework used
twisted
gevent

# others
nose
requests
psutil
msgpack-python
autobahn
txmongo
txredisapi
pyquery
hash_ring
pyes
